.addNote-button {
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 2.8em;
	height: 2.8em;
	background: #fff;
	border-radius: 100%;
	transition: all 0.15s ease-out;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addNote-button__image {
	width: 1.5em;
}

.addNote-button:hover {
	scale: 1.2;
}
