.date {
	border-bottom: 1px solid #85a5d5;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	align-items: center;
}

.date .input-container {
	background: rgba(0, 45, 117, 0.7);
	font-size: 1.2em;
}

.date input,
.date span {
	font-weight: 600;
	padding: 8px 14px;
}

.down-arrow {
	width: 28px;
	height: 24px;
	content: url(/src/assets/images/down-arrow.png);
	cursor: pointer;
}

.up-arrow {
	width: 28px;
	height: 24px;
	content: url(/src/assets/images/up-arrow.png);
	cursor: pointer;
}

.date-buttons {
	display: flex;
	width: 2.5em;
	justify-content: space-between;
	align-items: center;
}
